#player {
  padding-left: 0;
  padding-right: 0;
}

.show_modal {
  right: 0;

}

.hide_modal {
  right: -300px !important;
}

.player-wrapper {
  background-image: url('/../assets/img/loading_meme.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: -6px;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 0.9em;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  font-weight: 400;
  max-width: 75%;
  width: 300px;
  padding: 70px 15px 30px 15px;
}

.modal:hover {
  background: rgba(0, 0, 0, 0.9);
}

.modal p {
  padding-bottom: 7px;
}

.modal p:first-child {
  font-family: 'Lobster', cursive;
  color: #673ab7;
  margin-bottom: 7px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  font-size: 1.4em;
}

.modal p#cred {
  text-align: right;
  color: #673ab7;
  padding-top: 10px;
  font-weight: 700;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
}

.modal i {
  font-weight: 700;
}

.player-tabs {
  font-family: 'Lobster', cursive;
  color: #673ab7;
}

.player-tabs:hover {
  opacity: 0.9;
}

.player-tabs span {
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  text-shadow: none;
}

.player-tabs span:hover {
  background: #673ab7;
  color: #fff;
}

.player-tabs span.active {
  background: #673ab7;
  color: #fff;
}

.settings-item {
  padding: 10px 0;
}

.settings-label {
  font-weight: 600;
  color: #fff;
  font-size: 1em;
  margin-bottom: 5px;
  display: inline-block;
}

.filters-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 65vh;
  position: relative;
  border-bottom: 2px solid #673ab7;
}

.filters-preview::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

.filters-preview::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #transparent;
}

.filters-preview::-webkit-scrollbar-thumb {
	background-color: #673ab7;
	border: 1px solid #673ab7;
}

.filter-item {
  width: 44%;
  margin: 3% 2%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.filter-item img {
  width: 100%;
  height: auto;
}

.filter-item span {
  color: #fff;
  font-size: .8em;
  font-weight: 600;
}

.filter-item i {
  position: absolute;
  top: 1px;
  padding: 3px;
  left: 1px;
  font-size: 2em;
  background: #ffffff;
  border-radius: 10%;
  color: #00c853;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.filter-item:hover span {
  color: #673ab7;
  padding-left: 3px;
}

.filters-preview-bottom {
  width: 100%;
  height: 30px;
  position: sticky;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(0,0,0,0.6) 55%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,0.6) 55%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,0.6) 55%,rgba(0,0,0,1) 100%);
}

/* Checkbox */
.pure-material-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 1em;
  line-height: 1.7;
}

/* Input */
.pure-material-checkbox>input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 255, 255, 255), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox>span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
}

/* Box */
.pure-material-checkbox>span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 255, 255, 255), 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox>span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox>input:checked,
.pure-material-checkbox>input:indeterminate {
  background-color: rgb(var(--pure-material-primary-rgb, 103, 58, 183));
}

.pure-material-checkbox>input:checked+span::before,
.pure-material-checkbox>input:indeterminate+span::before {
  border-color: rgb(var(--pure-material-primary-rgb, 103, 58, 183));
  background-color: rgb(var(--pure-material-primary-rgb, 103, 58, 183));
}

.pure-material-checkbox>input:checked+span::after,
.pure-material-checkbox>input:indeterminate+span::after {
  border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.pure-material-checkbox>input:indeterminate+span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover>input {
  opacity: 0.04;
}

.pure-material-checkbox>input:focus {
  opacity: 0.12;
}

.pure-material-checkbox:hover>input:focus {
  opacity: 0.16;
}

/* Active */
.pure-material-checkbox>input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.pure-material-checkbox>input:active+span::before {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox>input:checked:active+span::before {
  border-color: transparent;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.pure-material-checkbox>input:disabled {
  opacity: 0;
}

.pure-material-checkbox>input:disabled+span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  cursor: initial;
}

.pure-material-checkbox>input:disabled+span::before {
  border-color: currentColor;
}

.pure-material-checkbox>input:checked:disabled+span::before,
.pure-material-checkbox>input:indeterminate:disabled+span::before {
  border-color: transparent;
  background-color: currentColor;
}

@media screen and (max-width: 720px) {
  .modal {
    padding: 35px 15px 30px 15px;
  }
}
