<div id="player" [ngClass]="music ? 'show_modal' : 'hide_modal'" class="animation modal">

  <p><strong>Sounds and music</strong></p>

  <div class="sounds-wrapper">
    <div class="sound-item">
      <i class="pe-7s-play animation" (click)="catSoundPlay()" *ngIf="!catSound"></i>
      <i class="pe-7s-mute animation" (click)="catSoundStop()" *ngIf="catSound"></i>
      <span>Cat purring :3</span>
    </div>
    <div class="sound-item">
      <i class="pe-7s-play animation" (click)="rainSoundPlay()" *ngIf="!rainSound"></i>
      <i class="pe-7s-mute animation" (click)="rainSoundStop()" *ngIf="rainSound"></i>
      <span>Rain</span>
    </div>
    <div class="sound-item">
      <i class="pe-7s-play animation" (click)="fireSoundPlay()" *ngIf="!fireSound"></i>
      <i class="pe-7s-mute animation" (click)="fireSoundStop()" *ngIf="fireSound"></i>
      <span>Campfire</span>
    </div>
    <div class="sound-item">
      <i class="pe-7s-play animation" (click)="nightSoundPlay()" *ngIf="!nightSound"></i>
      <i class="pe-7s-mute animation" (click)="nightSoundStop()" *ngIf="nightSound"></i>
      <span>Wild night</span>
    </div>
    <div class="sound-item">
      <i class="pe-7s-play animation" (click)="oceanSoundPlay()" *ngIf="!oceanSound"></i>
      <i class="pe-7s-mute animation" (click)="oceanSoundStop()" *ngIf="oceanSound"></i>
      <span>Ocean waves</span>
    </div>
  </div>

  <div class="music-wrapper">
    <div class="player-tabs">
      <span (click)="musicOne()" class="animation" [ngClass]="nature_song ? 'active' : 'not-active'">Nature</span>
      <span (click)="musicTwo()" class="animation" [ngClass]="rain_song ? 'active' : 'not-active'">Rain</span>
      <span (click)="musicThree()" class="animation" [ngClass]="ambient_song ? 'active' : 'not-active'">Relax</span>
      <span (click)="musicFour()" class="animation" [ngClass]="house_song ? 'active' : 'not-active'">House</span>
    </div>

    <div class="player-wrapper">
      <!-- Nature -->
      <iframe *ngIf="nature_song" width="100%" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/175419128&color=%23ff6f61&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      <!--  Rain -->
      <iframe *ngIf="rain_song" width="100%" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/146823529&color=%23ff6f61&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      <!-- Ambient -->
      <iframe *ngIf="ambient_song" width="100%" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237317520&color=%23ff6f61&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      <!-- House -->
      <iframe *ngIf="house_song" width="100%" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/512674650&color=%23ff6f61&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
  </div>
</div>

<div id="settings" [ngClass]="settings ? 'show_modal' : 'hide_modal'" class="animation modal">
  <p><strong>Settings</strong></p>
  <div class="settings-item">
    <label class="pure-material-checkbox">
      <input type="checkbox" id="show-clock" (click)="toggleClock();">
      <span>Show clock</span>
    </label>
  </div>
  <div class="settings-item">
    <label class="pure-material-checkbox">
      <input type="checkbox" id="show-meows" (click)="toggleMeows();">
      <span>Meow on mouse click</span>
    </label>
  </div>
  <div class="settings-item">
    <label class="settings-label">Additional image filter:</label>

    <div class="filters-preview">
      <div *ngFor="let filter of filters" class="animation filter-item" (click)="chooseFilter(filter)">
        <img src="/assets/img/cat-filters.jpg" class="{{'filter-' + filter}}" [title]="filter">
        <span class="animation"><i class="pe-7s-check" *ngIf="filter_storage == filter"></i>{{filter}}</span>
      </div>
      <div class="filters-preview-bottom"></div>
    </div>
  </div>
</div>

<div id="info" [ngClass]="info ? 'show_modal' : 'hide_modal'" class="animation modal">
  <p><strong>Love cats?</strong> We too!</p>
  <p><strong>Cats non-stop!</strong> - it's random slideshow of unreal cute cats photos <i class="pe-7s-like"></i></p>
  <p>Also you can play music on the background for the best relaxing <i class="pe-7s-smile"></i></p>
  <p>Work in progress... <strong>ver 0.2</strong></p>
  <p id="cred">by Vadim Orlov</p>

  <span id="easter_egg_button" (click)="easterEgg()" *ngIf="!easter_egg" class="animation">Do not press this button :)</span>
  <span id="easter_egg_button" (click)="easterEggStop()" *ngIf="easter_egg" class="animation">Stop it!</span>

  <div id="easter_egg" *ngIf="easter_egg" class="animation">
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/296145584&color=%23f20d0d&auto_play=true&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=true&visual=true"></iframe>
  </div>
</div>

<div id="options-icons" class="animation">

  <span id="title" *ngIf="!easter_egg">
    Cats non-stop!
  </span>
  <span id="title" *ngIf="easter_egg">
    DOOM cats!!!
  </span>

  <span id="player-icon" class="animation" (click)="showPlayer()">
    <i class="pe-7s-music"></i>
  </span>

  <span id="settings-icon" class="animation" (click)="showSettings()">
    <i class="pe-7s-config"></i>
  </span>

  <span id="info-icon" class="animation" (click)="showInfo()">
    <i class="pe-7s-help1"></i>
  </span>

  <div class="cf"></div>
</div>
