#time-clock {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 2.2em;
  font-weight: 100;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  opacity: 0.8;
}

.show_clock {
  height: auto;
  animation: clockAnimate 2s ease-in;
}

.hide_clock {
  height: 0;
  display: none;
  overflow: hidden;
  animation: clockAnimate 2s ease-out;
}

#cat-quotes {
  display: none; // Work in progress
  width: 400px;
  position: absolute;
  bottom: 15px;
  left: calc(50% - 200px);
  text-align: center;
  font-size: 1.3em;
  font-weight: 100;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

#input-name {
  background: none;
  border: none;
  border-bottom: 2px solid #f50;
  width: 82%;
  color: #fff;
  padding: 7px 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 100;
}

@-webkit-keyframes clockAnimate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes clockAnimate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
