<!-- <img src="assets/img/christmas.png" id="christmas-lights" /> -->

<div class="cats-wrapper" id="cats-fullscreen">
  <div
      [style.background-image]="'url(/assets/walls/' + cat + ')'"
      class="cats-wall filter-{{filter}} {{easter_egg}}">
  </div>
  <div class="borders"></div>
  <div id="rotate-phone" class="animation">
    <i class="pe-7s-phone" id="rotate-icon"></i>
    <p>For the best experience, rotate your device</p>
  </div>
  <div id="fullscreen" class="animation" (click)="getFullScreen()">
    <i class="pe-7s-expand1"></i>
  </div>

  <div class="easter_egg_pentagram" *ngIf="easter_egg">
    <img src="/assets/img/pentagram.png">
  </div>

  <div class="animation" id="weather" [ngClass]="weather == 'true' ? 'show_weather' : 'hide_weather'">
    <div class='weather-icon'>
      <i class="{{weather_icon}}"></i>
    </div>
    <div class='weather-temp'>
      {{weatherJSON.main.temp - 273.15}}&#xb0;
    </div>
    <div class='weather-location'>
      <i class='pe-7s-map-marker'></i> {{weatherJSON.name}}
    </div>
  </div>

  <div class="animation" id="time-clock" [ngClass]="clock == 'true' ? 'show_clock' : 'hide_clock'">
    {{ time | date:'HH:mm'}}
  </div>

  <div class="animation" id="cat-quotes">
    Meow, stranger! How can I call you?<br/>
    <input type="text" id="input-name" autofocus>
  </div>

  <div class="animation">
    <app-controls></app-controls>
  </div>
  <img [src]="preload" id="preload">
</div>
