<div class="cats-wrapper" id="cats-fullscreen">
  <div
      [style.background-image]="'url(/assets/walls/' + cat + ')'"
      class="cats-wall filter-{{filter}} {{easter_egg}}">
  </div>
  <div class="borders"></div>
  <div id="rotate-phone" class="animation">
    <i class="pe-7s-phone" id="rotate-icon"></i>
    <p>For the best experience, rotate your device</p>
  </div>
  <div id="fullscreen" class="animation" (click)="getFullScreen()">
    <i class="pe-7s-expand1"></i>
  </div>

  <div class="easter_egg_pentagram" *ngIf="easter_egg">
    <img src="/assets/img/pentagram.png">
  </div>

  <div id='widgets'>
    <div class="animation" id="time-clock" [ngClass]="clock == 'true' ? 'show_clock' : 'hide_clock'">
      <span *ngIf="time_eur">{{time | date:'HH:mm'}}</span>
      <span *ngIf="time_usa">{{time | date:'h:mm a'}}</span>
    </div>

    <div class="animation" id="weather" [ngClass]="weather == 'true' ? 'show_weather' : 'hide_weather'" title='{{weatherJSON.weather[0].description}}'>
      <div class='weather-icon'>
        <span class='tooltop'>
          <i class="{{weather_icon}}"></i>
        </span>
      </div>
      <div class='weather-temp'>
        <span *ngIf="temp_c">{{weather_temp_c}}&#xb0;</span>
        <span *ngIf="temp_f">{{weather_temp_f}}&#xb0;</span>
      </div>
      <div class='weather-location'>
        <i class='pe-7s-map-marker'></i> {{weatherJSON.name}}
      </div>
    </div>

    <div class="animation" id="download-btn">
      <a id="download" [href]="'/assets/walls/' + cat" title="Download this image :3" download>
        <i class="pe-7s-bottom-arrow"></i>
      </a>
    </div>
  </div>

    <app-controls [images]="images" (updated)="changeSettings($event)"></app-controls>

  <img [src]="preload" id="preload">
</div>
