<div class="cats-wrapper" id="cats-fullscreen">
  <div
      [style.background-image]="'url(/assets/walls/' + cat + ')'"
      class="cats-wall filter-{{filter}}">
  </div>
  <div class="borders"></div>
  <div id="rotate-phone" class="animation">
    <i-feather name="smartphone" id="rotate-icon" class="fe-icons"></i-feather>
    <p>For the best experience, rotate your device</p>
  </div>
  <div id="fullscreen" (click)="getFullScreen()" title="Fullscreen" appTippy>
    <i-feather name="maximize" class="fe-icons"></i-feather>
  </div>

  <div class="easter_egg_nyan" *ngIf="easter_egg">
    <img src="/assets/img/nyan.png">
  </div>

  <div id='widgets'>
    <div class="animation" id="time-clock" [ngClass]="clock == 'true' ? 'show_clock' : 'hide_clock'">
      <span *ngIf="time_eur">{{time | date:'HH:mm'}}</span>
      <span *ngIf="time_usa">{{time | date:'h:mm a'}}</span>
    </div>

    <div *ngIf="weatherJSON !== null" class="animation" id="weather" [ngClass]="weather == 'true' ? 'show_weather' : 'hide_weather'"
          title='{{weatherJSON.weather[0].description | titlecase}}' appTippy>
      <div class='weather-icon'>
        <span class='tooltop'>
          <i class="{{weather_icon}}"></i>
        </span>
      </div>
      <div class='weather-temp'>
        <span *ngIf="temp_c">{{weather_temp_c}}&#xb0;C</span>
        <span *ngIf="temp_f">{{weather_temp_f}}&#xb0;F</span>
      </div>
      <div class='weather-location'>
        <i-feather name="map-pin" class="fe-icons fe-small"></i-feather> {{weatherJSON.name}}
      </div>
    </div>

    <div class="animation" id="download-btn">
      <a id="download" [href]="'/assets/walls/' + cat" title="Download this image :3" download>
      </a>
    </div>
  </div>

  <app-controls [images]="images" (settingsEmitter)="changeSettings($event)"></app-controls>

  <img [src]="preload" id="preload">
</div>
