* {
  margin: 0;
  padding:
}

.cats-wall {
  height: 100vh;
  transition: background 0.5s linear;
  background-position: center, center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
