<div id="player" [ngClass]="music ? 'show_player' : 'hide_player'" class="aniation">
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237317520&color=%23545c8c&auto_play=true&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=true"></iframe>
</div>

<div id="options-icons" class="aniation">

  <span id="title">
    Cats non-stop!
  </span>

  <span id="player-icon" class="aniation" (click)="showPlayer()">
    <i class="pe-7s-music"></i>
  </span>

  <app-settings></app-settings>

  <app-info></app-info>

  <app-favorite></app-favorite>

  <div class="cf"></div>
</div>
